.debug {
    border: 1px solid red;
}
.ms-bg {
    background-color: #165bba;
}
.ms-fs-xs{
    font-size: .85rem!important;
}
header {
    height: 50px;
}
/* Parte centrale */
.ms-wrapper {
    margin-top: 50px;
    height: calc(100vh - 50px);

}
/* Parte centrale latelare */
#ms-sidebar {
    width: 180px;
    background-color: #051e34;
    background-image: url("../img/sidebar-bg.png");
}
.ms-h-120px {
    height: 120px;
}
/* Parte centrale principale */
.ms-small-square {
    width: 2rem;
    height: 2rem;
}
/* Responsive */
@media screen and (max-width: 768px){
    #ms-sidebar {
        width: 50px;
    }
}